.contacts-icons {
    margin-right: 10px;

    max-width: 16px;
    max-height: 16px;
    fill: currentColor;
}


.social-media {
    justify-content: center;
}






.social-media {
    padding: 0;
}



.social-media li {
    display: inline;
    list-style-type: none;


}

.button-svg {
    padding: 0px;
    border: 0ch;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    background-color: transparent;    
    color: var(--icon-color);
}

.button-svg:hover {
    color: var(--text-white-color);
    background-color: var(--logo-blue-color);
}

.media-svg {
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    fill: currentColor;
}
